<div class="col-12 d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <a href="/post/{{id}}" class="card-header-link">{{brand_name}}</a>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center"></div>
                <img src="{{image_url}}"  width="360px" height="300px" alt="">
            </div>
            <p class="card-text">{{instrument}}</p>
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-between">
                <div id="post-by">Posted by {{user.username}} who can be contacted at {{email}}</div>
            </div>
        </div>
    </div>
</div> 